@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #282828;
}

header {
  background-color: #282828;
  color: whitesmoke;
}

.container {
  width: 570px;
  margin: 0 auto;
}

ul {
  padding: 25px;
  display: flex;
}

li {
  list-style: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

.hamburger-nav-icon {
  width: 25px;
}

.item-container {
  position: relative;
}

.exclusive {
  position: absolute;
  top: 0px;
  background-color: #cd6858;
  color: whitesmoke;
  margin: 0;
}

.align-right {
  margin-left: auto;
}

img {
  width: 100%;
  position: relative;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  padding: 25px 30px;
}

p {
  padding: 25px;
  font-size: 20px;
  font-weight: bold;
}

span {
  display: block;
  font-weight: 400;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #cd6858;
    color: whitesmoke;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    margin-right: 25px;
    font-weight: 700;
    cursor: pointer;
}


.chatbox-bg {
  background-color: #dda15e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 50%;
  left: 50%;
  cursor: pointer;
  border: #282828 1px solid;
}

.chatbox-img {
  width: 50%;
  margin: auto;
}